POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=diabetes
POSTGRES_USER=diabetes_owner
POSTGRES_PASSWORD=change_me

VAULT_ADDR=http://vault:8200
VAULT_TOKEN=change_me
VAULT_KV_MOUNT=secret
VAULT_DB_SECRET_PATH=database/postgres